<form
    [formGroup]="form">
    <div class="ui-inputgroup">
    <label for="float-input">Name </label>
    <input type="text" pInputText formControlName="username">         
    </div>
    <br>
    <div>
    <div class="ui-g-12 ui-md-4">
    <label for="float-input">Date of birth</label>
    <p-calendar formControlName="date"></p-calendar>
    </div>
    </div>
    <br>
    <br>
    <div>
    <label for="float-input">Email</label>
    <input type="email" formControlName="email">
    </div>
    <div>
    <label for="float-input">Password</label>
    <input type="password" pPassword [(ngModel)]="property" formControlName="password"/>
    </div>
    <button pButton type="button" (click)="login" label="Login"></button>
</form>
